<!-- app/views/recipes/index.html.erb -->

<h1>Your Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>
      <% if recipe.user == current_user %>
  <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
<% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Profile', user_path(current_user) %>
<%= link_to 'Create New Recipe', new_recipe_path, class: 'btn btn-primary' %>
