<!-- app/views/recipes/public_recipe.html.erb -->
<%= render 'layouts/header' %>

<h1>Public Recipes</h1>
<ul>
  <% @public_recipes.each do |recipe| %>
    <li class="public_li">
      <%= link_to recipe.name, recipe_path(recipe) %>
    <br>
      <span>by: <%= recipe.user.name %></span>
    </li>
  <% end %>
</ul>

