
<tr>
    <td class='food-name'><%=food.name %> </td>
    <td class='food-measurement'><%=food.measurement_unit %> </td>
    <td class='food-price'> $ <%=food.price %> </td>
    <td>
        <a href="#">
            <% if current_user && current_user.id == food.user_id %>
            <%= button_to "Delete", food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }, class: 'food-delete-btn' %>
            <% end %>
        </a>
    </td>
</tr>